/*-------------------------------------    
CSS INDEX
===================================
#. EL: Owl Nav
#. EL: Title
#. EL: Info Box
#. EL: Text With Button
#. EL: CTA
#. EL: Accordian
#. EL: Listing Grid
#. EL: Listing List
#. EL: Listing Search
#. EL: Listing Category Box
---------------------------------------*/
/*-------------------------------------
#. EL: Owl Nav
---------------------------------------*/
.owl-custom-nav-area {
	margin-bottom: 25px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.owl-custom-nav-area .owl-custom-nav-title {
	-webkit-box-flex: 1;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	font-size: 26px;
	line-height: 1.3;
	font-weight: 600;
	color: #222222;
	position: relative;
	padding-bottom: 20px;
	margin-bottom: 0;
}

.owl-custom-nav-area .owl-custom-nav-title:after {
	content: "";
	position: absolute;
	height: 4px;
	width: 40px;
	background-color: #1aa78e;
	z-index: 1;
	bottom: 0;
	left: 0;
}

.owl-custom-nav-area .owl-custom-nav {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-left: 5px;
	margin-top: 10px;
}

.owl-custom-nav-area .owl-custom-nav .owl-prev,
.owl-custom-nav-area .owl-custom-nav .owl-next {
	background-color: rgba(0, 0, 0, 0.06);
	border-radius: 3px;
	color: #222222;
	cursor: pointer;
	display: inline-block;
	height: 30px;
	opacity: 1;
	text-align: center;
	width: 30px;
	-webkit-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	-webkit-box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.16);
	box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.16);
}

.owl-custom-nav-area .owl-custom-nav .owl-next {
	margin-left: 8px;
}

.owl-custom-nav-area .owl-custom-nav .owl-prev:hover,
.owl-custom-nav-area .owl-custom-nav .owl-next:hover {
	background-color: #1aa78e;
	color: #ffffff;
}

.owl-custom-nav-area .owl-custom-nav i {
	font-size: 18px;
	line-height: 30px;
}

@media all and (max-width: 1329px) {
	.rt-owl-nav.slider-nav-enabled {
		padding: 0 32px;
	}
}

.rt-owl-nav .owl-theme .owl-nav {
	margin-top: 0;
}

.rt-owl-nav .owl-theme .owl-nav button.owl-prev,
.rt-owl-nav .owl-theme .owl-nav button.owl-next {
	color: #a0a0a0;
	margin: 0;
	position: absolute;
	top: 48%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	-webkit-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

.rt-owl-nav .owl-theme .owl-nav button.owl-prev:hover,
.rt-owl-nav .owl-theme .owl-nav button.owl-next:hover {
	background: inherit;
}

.rt-owl-nav .owl-theme .owl-nav button.owl-prev .fa,
.rt-owl-nav .owl-theme .owl-nav button.owl-next .fa {
	font-size: 36px;
	line-height: 1;
}

.rt-owl-nav .owl-theme .owl-nav .owl-prev {
	left: -35px;
}

@media all and (max-width: 1329px) {
	.rt-owl-nav .owl-theme .owl-nav .owl-prev {
		left: -25px;
	}
}

.rt-owl-nav .owl-theme .owl-nav .owl-next {
	right: -35px;
}

@media all and (max-width: 1329px) {
	.rt-owl-nav .owl-theme .owl-nav .owl-next {
		right: -25px;
	}
}

/*-------------------------------------
#. EL: Title
---------------------------------------*/
.rt-el-title {
	text-align: center;
}

.rt-el-title .rtin-title {
	font-size: 36px;
	line-height: 1.5;
	font-weight: 700;
	color: #222;
	margin-bottom: 0;
}

.rt-el-title .rtin-subtitle {
	margin-top: 5px;
	margin-bottom: 0;
	font-size: 16px;
	line-height: 1.5;
}

/*-------------------------------------
#. EL: Info Box
---------------------------------------*/
body .rt-el-info-box {
	text-align: center;
	background-color: #fff;
	border-radius: 10px;
	padding: 55px 20px;
	-webkit-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2);
	box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2);
	-webkit-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
	display: block;
}

@media all and (max-width: 767.98px) {
	body .rt-el-info-box {
		max-width: 360px;
		margin: 0 auto;
	}
}

body .rt-el-info-box .rtin-icon {
	margin-bottom: 25px;
}

body .rt-el-info-box .rtin-icon img {
	max-height: 68px;
	width: auto;
}

body .rt-el-info-box .rtin-icon i {
	font-size: 68px;
	line-height: 1;
	color: #fcaf01;
	-webkit-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}

body .rt-el-info-box .rtin-title {
	color: #000;
	margin-bottom: 0;
	font-size: 20px;
	line-height: 1.4;
	font-weight: 500;
}

body .rt-el-info-box .rtin-title a {
	color: #000;
	-webkit-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}

body .rt-el-info-box:hover {
	-webkit-box-shadow: 0 0 10px 5px #d8d8d8;
	box-shadow: 0 0 10px 5px #d8d8d8;
}

/*-------------------------------------
#. EL: Text With Button
---------------------------------------*/
.rt-el-text-btn h3 {
	font-size: 38px;
	line-height: 1.3;
	color: #000;
	margin-bottom: 20px;
}

.rt-el-text-btn p {
	margin-bottom: 0;
}

.rt-el-text-btn .btn {
	margin-top: 25px;
}

/*-------------------------------------
#. EL: CTA 1
---------------------------------------*/
.rt-el-cta-1 {
	text-align: center;
}

.rt-el-cta-1 .rtin-title {
	color: #fff;
	font-size: 34px;
	line-height: 1.3;
	margin-bottom: 15px;
}

.rt-el-cta-1 .rtin-content {
	color: #c8c8c8;
	margin-bottom: 0;
	font-size: 18px;
	line-height: 1.5;
}

.rt-el-cta-1 .btn {
	margin-top: 30px;
	background: #fcaf01;
}

.rt-el-cta-1 .btn:hover {
	-webkit-box-shadow: 0 0 5px 3px rgba(255, 255, 255, 0.1);
	box-shadow: 0 0 5px 3px rgba(255, 255, 255, 0.1);
}

.rt-el-cta-1.rtin-light .rtin-title,
.rt-el-cta-1.rtin-light .rtin-content {
	color: #222;
}

.rt-el-cta-1.rtin-light .btn:hover {
	-webkit-box-shadow: none;
	box-shadow: none;
	opacity: 0.9;
}

/*-------------------------------------
#. EL: CTA 2
---------------------------------------*/
.rt-el-cta-2 {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding: 20px;
	color: #fff;
}

@media all and (max-width: 991.98px) {
	.rt-el-cta-2 {
		display: block;
	}
}

.rt-el-cta-2 .rtin-left {
	width: 70%;
}

.rt-el-cta-2 .rtin-right {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
}

@media all and (max-width: 991.98px) {
	.rt-el-cta-2 .rtin-right {
		margin-top: 20px;
	}
}

.rt-el-cta-2 .rtin-title {
	color: #fff;
	font-size: 32px;
	line-height: 1.4;
	margin-bottom: 10px;
}

.rt-el-cta-2 .rtin-subtitle {
	margin-bottom: 0;
}

.rt-el-cta-2 .rtin-right a {
	color: #111111;
	background-color: #fff;
	border-radius: 3px;
	padding: 10px 20px;
	display: inline-block;
	margin-left: 15px;
	font-weight: 500;
	outline: 0;
	-webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.1);
}

.rt-el-cta-2 .rtin-right a i {
	font-size: 22px;
}

@media all and (max-width: 991.98px) {
	.rt-el-cta-2 .rtin-right a:first-child {
		margin-left: 0;
	}
}

.rt-el-cta-2 .rtin-right a i {
	color: #1aa78e;
	padding-right: 10px;
}

.rt-el-cta-2 .rtin-right a:hover {
	-webkit-box-shadow: 0px 1px 5px 5px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 1px 5px 5px rgba(0, 0, 0, 0.2);
}

.rt-el-cta-2.rtin-light {
	color: #222;
}

.rt-el-cta-2.rtin-light .rtin-title {
	color: #222;
}

/*-------------------------------------
#. EL: Accordian
---------------------------------------*/
.rt-el-accordian .card {
	margin-bottom: 3px;
	border: none;
	-webkit-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}

.rt-el-accordian .card:last-child {
	border-bottom: 0;
}

.rt-el-accordian .card .card-header {
	padding: 0;
	border: none;
	-webkit-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
	border-radius: 5px !important;
}

.rt-el-accordian .card .card-header a {
	position: relative;
	border-radius: 5px;
	color: #ffffff;
	background-color: #1aa78e;
	font-size: 16px;
	line-height: 1.8;
	padding: 13px 30px 13px 25px;
	display: block;
	font-weight: 600;
	-webkit-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	cursor: pointer;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.rt-el-accordian .card .card-header a:after {
	font-weight: 900;
	font-family: "Font Awesome 5 Free";
	content: "\f107";
	right: 15px;
	position: absolute;
	top: 19px;
	font-size: 18px;
	line-height: 1;
	-webkit-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}

.rt-el-accordian .card .card-header a.collapsed {
	color: #222222;
	background-color: #f6f6f6;
}

.rt-el-accordian .card .card-header a.collapsed:after {
	content: "\f106";
}

.rt-el-accordian .card .card-body {
	background-color: #f5f5f5;
	padding: 20px 35px;
	color: #444444;
	-webkit-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}

/*-------------------------------------
#. EL: Listing Grid
---------------------------------------*/
.rt-el-listing-grid .listing-grid-each.featured-listing .rtin-thumb::after {
	content: none;
}

/*-------------------------------------
#. EL: Listing List
---------------------------------------*/
@media all and (max-width: 767.98px) {
	.rt-el-listing-list {
		max-width: 360px;
		margin: 0 auto;
	}
}

/*-------------------------------------
#. EL: Listing Search
---------------------------------------*/
.rt-el-listing-search .classilist-listing-search .rtcl-search-inline-form .rtcl-search-input-button {
	border: none;
	background-color: #fff;
	border-radius: 4px;
	padding: 0 20px;
	height: 50px;
	line-height: 50px;
	-webkit-box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.1);
	/*display: inline-flex;*/
}
.rt-el-listing-search .classilist-listing-search .rtcl-search-inline-form .rtcl-search-input-button:before {
	margin-top: 16px;
}
.rt-el-listing-search .classilist-listing-search .rtcl-search-inline-form .rtin-keyword input {
	height: 98%;
}

.rt-el-listing-search .classilist-listing-search .rtcl-search-inline-form .rtin-search-btn {
	height: 50px;
}

/*-------------------------------------
#. EL: Listing Category Box
---------------------------------------*/
.rt-el-listing-cat-box .rtin-item {
	-webkit-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.1);
	padding: 40px 20px 35px;
	-webkit-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
	background-color: #f2f2f2;
	text-align: center;
	margin-bottom: 30px;
	border-radius: 3px;
	display: block;
}

.rt-el-listing-cat-box .rtin-item .rtin-icon {
	margin-bottom: 20px;
	height: 50px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: flex-end;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	color: #1aa78e;
}

.rt-el-listing-cat-box .rtin-item .rtin-icon img {
	max-height: 100%;
	width: auto;
}

.rt-el-listing-cat-box .rtin-item .rtin-icon .rtcl-icon:before {
	font-size: 50px;
	margin: 0;
	line-height: 1;
	width: inherit;
}

.rt-el-listing-cat-box .rtin-item .rtin-title {
	font-size: 17px;
	line-height: 1.5;
	margin-bottom: 0;
	color: #222222;
	-webkit-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}

.rt-el-listing-cat-box .rtin-item .rtin-count {
	color: #989898;
	font-weight: 500;
	line-height: 1.2;
	margin-top: 10px;
}

.rt-el-listing-cat-box .rtin-item:hover {
	background-color: #fff;
	-webkit-box-shadow: 0 0 5px 0 rgba(89, 89, 89, 0.1);
	box-shadow: 0 0 5px 0 rgba(89, 89, 89, 0.1);
}

.rt-el-listing-cat-box .rtin-item:hover .rtin-icon {
	color: #fcaf01;
}

.rt-el-listing-cat-box .rtin-item:hover .rtin-title {
	color: #1aa78e;
}

/*-------------------------------------
#. EL: Listing Category Slider
---------------------------------------*/

.rt-el-listing-cat-slider .owl-carousel .owl-item img {
	width: auto;
	display: inline-block;
}
.rt-el-listing-cat-slider .rtin-item {
	display: block;
	text-align: center;
}
.rt-el-listing-cat-slider .rtin-item .rtin-title {
	font-size: 16px;
	font-weight: 400;
	margin-bottom: 0;
}
.rt-el-listing-cat-slider .rtin-item .rtin-icon {
	width: 90px;
	height: 90px;
	padding: 10px;
	border-radius: 50%;
	position: relative;
	margin: 0 auto 15px;
	align-items: center;
	display: inline-flex;
	background-color: #fff;
	justify-content: center;
	box-shadow: 0px 14px 18px 0px rgba(0, 0, 0, 0.09);
}
.rt-el-listing-cat-slider .rtin-item .rtin-icon img {
	position: absolute;
	top: 25px;
	left: 25px;
	width: 30px;
	height: 30px;
}
.rt-el-listing-cat-slider .rtin-item .rtin-icon .rtcl-icon {
	font-size: 35px;
	line-height: 60px;
}
.rtcl.rtcl-elementor-widget .rtcl-grid-view.rtcl-style-5-view .rtcl-price {
	line-height: 1.5;
}